.hero{
  text-align: center;
}

.hero h1{
  font-size: 3rem;
  font-weight: 700;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1rem;
}

.hero h1 span{
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  border-bottom: 2px;
  border-color: var(--gradient-1);

}

.hero span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: var(--gradient-1);
}

.hero-content{
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 40px;
    color: var(--text-secondary);
}

.hero-alert{
  color: yellow;
  margin-bottom: 4rem;
}

.hero-img{
  padding: 50px;
  background: var(--bg-2);
  width: 100%;
  border-radius: 10px;
}


.hero-img img{
border-radius: 10px;
  transition: transform .3s ease;

}

.hero-img img:hover{
  transform: scale(1.05);
}

.hero-img-top{
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

  display: flex;
  gap: 5px;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}

.hero-img-top img{
  width: 80px;
  border-radius: 8px;
}

.hero-complete{
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap:5px;
    transition: opacity 0.3s ease;
}

.hero-complete p{
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.hero-img .nav-circle{
  width: 1.5rem !important;
  height: 1.5rem;
}

@media(max-width:750px){

  .hero-title{
    font-size: 2rem !important;
  }

  .hero-content{
    font-size: .9rem;
  }

  .hero-alert{
    font-size: .7rem;
  }
  .hero-img{
    padding:20px
  }

  .hero-img-top img{
    width:50px
  }

  .hero-complete .nav-circle{
    width: .8rem;
  }
  .hero-complete p{
    font-size: .6rem;
  }

  .hero .button{
    font-size: .9rem;
    padding: 7px 15px;
  }
}